 <div class="container">
    <h1>Tabla </h1>
    <div class="row">
     
      <div class="col-md-4">
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">

      </div>
      <div class="col-md-4">
        
        <button class="btn btn-primary primary-color">Buscar</button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of datos | filter:filterPost ">
          <td >{{dato.nombre}}</td>
          <td>{{dato.descripcion}}</td>
          <td>
          
            <button (click)="eliminarDato(-1)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
       
        <div class="row">
          <form  [formGroup]="formValues" >
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="nombre"  placeholder="Nombre" required=" Escribir algo">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="descripcion" placeholder="Descripción" required="Escriba algo">
          </div>
          <div class="col-md-4">
            <button  (click)="agregarDato()" class="btn btn-primary primary-color">Crear</button>
          </div>
        </form>
        </div>
      
      </tbody>
    </table>
  </div>

  